@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@media screen and (min-width: 768px) and (max-width: 1366px) {
  html {
  padding: 15px;
  transform: 75%;
}
*{
  font-family: 'Tilt Neon', cursive;
}
}
.Navul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid gray ;
  background-color: black;
  background-image: none;
  height: 50px;
}
.Navul li {
  display: flex;
  float: right;
}
.Navul li a, .a {
  display: block;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px;
}
.Navul li a:hover,
.Navul li .a:hover{
  background-color: rgb(59, 77, 59);
  color: rgb(94, 167, 94);
}
.homelogo:hover {
  opacity: 1.0;
  box-shadow: none;
}
.active{
  float: left
}
.Apps .Maincopy{
  font-family: 'Tilt Neon', cursive;
  background-color: lightgreen;
  margin-top: 0.01rem;
  width: 100%;
  background-image: url(../imgs/background_anime.png);
  background-repeat: no-repeat;
  background-position: 60% -4%;
}
/* body content */
.Maincopy {
  padding: 9rem 15rem;
  float: left;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 20px;
  margin-top: -40px;
} 
.Maincopy a {
  text-decoration: none;
  color: lightgreen;
}
.Mainabout{
  padding: 39rem 34rem;
  letter-spacing: 0.1em;
  padding-bottom: 7rem;
  margin-top: 7rem;
  background-color: whitesmoke
}
.About-page{
  padding: 35px;
  border-radius: 1rem;
  background-color: lightgreen;
  width: 430px;
}
.About-page p a{
  text-decoration: none;
  color: yellow;
  /*rgb(123, 98, 98);*/
}
.btn{
  height: 30px;
  color: rgb(59, 77, 59);
  background-color: black;
  margin-top: 10px;
  font-size: medium;
}
.btn:hover{
  background-color: white;
  color:black
}
.btnc{
  height: 35px;
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  margin-top: 10px
}
.Contact a {
  margin: 0 10px;
}
.Serviceheader{
  background-color: lightgreen;
	padding: 1rem 39rem;
  margin-top: 0.001rem;
  margin-bottom: -1rem;
  width: max-content;
}
.Service li{
  padding: 0.5rem 32rem;
  background-color: lightgreen;
  list-style-type: none;
  margin-left: -3rem;
}
.Service li p{
  font-size: 1.15rem;
  margin-left: 3rem;
}
.Service li img{
  padding: 2rem 0;
}
/*Footer Content*/
.Footer {
  position: fixed;
  bottom: 0; 
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 50px;
}
.Footer ul {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
}
.Footer li {
  float: right;
  display: flex;
  padding: 0.5px 13px;
}
.Footer a {
  text-decoration: none;
  color: whitesmoke;
}
