@media screen and (min-width: 768px) and (max-width: 1366px) {
  html {
  padding: 15px;
  transform: 75%;
}
}
:root body{
  font-family: 'Tilt Neon', cursive;
  background-color: lightgreen;
  background-image: url('../imgs/background_anime.png');
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 2%;
}
.Navul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid gray ;
  background-color: black;
  background-image: none;
  height: 50px;
}
.Navul li {
  display: flex;
  float: right;
}
.Navul li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px;
}
.Navul li a:hover{
  background-color: rgb(59, 77, 59);
  color: rgb(94, 167, 94);
}
.homelogo:hover {
  opacity: 1.0;
  box-shadow: none;
}
.active{
  float: left
}

/* body content */
.Maincopy {
  /*background-repeat: repeat;*/
  padding: 12rem 15rem;
  float: left;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 20px;
  margin-top: -40px;
} 
.Maincopy a {
  text-decoration: none;
  color: lightgreen;
}
.About-page{
  padding: 40px;
  max-width: 430px;
  border-radius: 6px;
  background-color: whitesmoke;
}
.About-page p > a{
  text-decoration: none;
  color: darkgreen
}
.btn{
  height: 30px;
  color: rgb(59, 77, 59);
  background-color: black;
  margin-top: 10px;
  font-size: medium;
}
.btn:hover{
  background-color: white;
  color:black
}
.btnc{
  height: 35px;
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  margin-top: 10px
}
.Contact a {
  margin: 0 10px;
}
/*Footer Content*/
.Footer {
  position: fixed;
  bottom: 0; 
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 50px;
}
.Footer ul {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
}
.Footer li {
  float: right;
  display: flex;
  padding: 0.5px 13px;
}
.Footer a {
  text-decoration: none;
  color: whitesmoke;
}
.Servicediv li{
  padding: 12rem 15rem;
  float: left;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 20px;
  margin-top: -40px;
  padding: 0;
  margin: none;
}