.App {
  text-align: center;
}
.Navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid gray ;
  background-color: green;
  background-image: none;
}
.Navul li {
  float: right;
}
.Navul li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px;
}
.Navul li a:hover{
  background-color: black;
  color: green;
}
.active{
  float: left
}

/* body content */
.Maincopy {
  background-color: lightgreen;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
  padding: 4rem;
} 

/*Footer Content*/
